/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: column; /* Stack children vertically */
    min-height: 100vh; /* Ensure body takes at least the full viewport height */
    background-color: #fbf2e3;
    margin: 0;
    overflow-y: auto
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 25%;
    padding: 40px;
    background: transparent;
    position: fixed;
    left: 20px;
    top: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    height: 90vh; /* Ensures it spans most of the height */
    justify-content: space-between; /* Pushes the icons to the bottom */
}

.sidebar h1 {
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar h1 .logo {
    width: 100px; /* 调整 Logo 大小 */
    height: auto; /* 保持比例 */
    border-radius: 50%; /* 可选：圆形 Logo */
}

.sidebar h1 a {
    text-decoration: none;  /* Remove underline */
    color: black;  /* Change color */
    white-space: normal; /* 允许换行 */
    word-wrap: break-word; /* 允许单词内换行 */
    max-width: 100%;
}

.sidebar nav ul {
    list-style: none;
    margin-top: 50px;
}

.sidebar nav ul li {
    margin: 10px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}


.sidebar nav ul li a.active {
    font-weight: bold; /* 加粗字体 */
}

/* 子页面样式 */
/* 子页面样式 */
.sidebar nav ul li:nth-child(2) a, /* Festival Dobby! */
.sidebar nav ul li:nth-child(3) a { /* Dining with Dobby */
    margin-left: 20px; /* 句首缩进 */
    font-style: italic;
    font-size: 0.9rem; /* 字体更小 */
    color: #403e3e; /* 子页面文字颜色 */
}

.sidebar nav ul li a:hover,
.sidebar nav ul li:nth-child(2) a:hover,
.sidebar nav ul li:nth-child(3) a:hover {
    color: #fbc66b; /* 鼠标悬停时文字颜色变深 */
}

.icons {
    margin-top: auto
}

.icons img {
    width: 24px;
    margin-right: 10px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Photo Section */
.photo-section {
    flex: 1; /* 占据剩余空间的 1 份 */
    padding: 40px;
    text-align: center;
    margin-left: 15%; /* 避开 Sidebar */
}

.photo-section img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
}

.photo-section .photo-caption {
    margin-top: 10px;
    font-style: oblique ;
    color: #1a1818;
    text-align: center;
}

/* Text Section */
.text-section {
    flex: 1; /* 占据剩余空间的 1 份 */
    padding: 40px;
}

.text-section h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.text-section p {
    font-size: 1rem;
    line-height: 1.6;
}